@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  background: #ffffff;
}

header {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  .header-logo {
    margin-right: 120px;
    margin-left: 50px;
  }
  .header-search {
    width: 450px;
    .fa-search {
      color: black;
      margin-left: 6px;
      margin-bottom: 7px;
    }
  }
}

.user-menu {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  background: #00b3be;
  font-size: 16px;
  color: white;
  height: 59px;
  width: 383px;
  .user-icon {
    margin: 0 5px 0 25px;
  }
  .user-name {
    font-family: Arial;
    margin-left: 5px;
    margin-right: 175px;
  }
  .logout {
    font-size: 26px;
  }
}

.content {
  display: flex;
  .slider-img {
    max-width: 50%;
    img{
      width: 100%;
    }
  }
  .about {
    max-width: 50%;
    padding-left: 16px;
    .about--title {
      font-size: 32px;
      font-family: "Myriad Pro";
      color: #000000;
    }
    .about--link-profile {
      font-family: "Arial - Bold MT";
      font-size: 18px;
      color: #4a4a4a;
      a {
        color: #00b3be;
      }
    }
    .about--line-height {
      line-height: 0;
    }
    .price {
      color: #91d763;
      font-size: 32px;
    }
  }
}

.chat--contact--link{
  color: #4a4a4a;
  font-family: "Arial - Bold MT";
  font-size: 30px;
  span{
    font-size: 14px;
    a{
      color: #00b3be;
    }
  }
}

.chat{
  display: flex;

  .chat--messager{
    display: flex;
    flex-direction: column-reverse;

    min-height: 250px;
    max-width: 50%;
    flex-grow: 1;

    .chat--message--in{
      margin-right: 12px;
      display: flex;
      align-self: flex-end;
      max-width: 400px;
      border-left: solid 5px #00b3be;
      margin-top: 15px;
      margin-bottom: 15px;
      .chat--message--in--message{
        color: #4a4a4a;
        font-family: "Arial MT";
        font-size: 14px;
        padding-left: 6px;
        margin-right: 12px;
      }
      .chat--message--in--profile{
        img{
          width: 25px;
        }
      }
    }

    .chat--message--out{
      margin-right: 12px;
      display: flex;
      align-self: flex-start;
      margin-top: 15px;
      margin-bottom: 15px;
      max-width: 400px;
      border-right: solid 5px #00b3be;
      .chat--message--out--message{
        color: #4a4a4a;
        font-family: "Arial MT";
        font-size: 14px;
        padding-left: 6px;
        margin-right: 12px;
      }
      .chat--message--out--profile{
        img{
          width: 25px;
        }
      }
    }

    input{
      position: relative;
    }
    label{
      color: #4a4a4a;
      font-family: "Arial MT";
      font-size: 12px;
    }
    .fa-paper-plane{
      position: absolute;
      bottom: 15px;
      right: 5px;
    }
  }
  .chat--connected-members{
    flex-grow: 1;
    .chat--title{
      color: #4a4a4a;
      font-family: "Arial - Bold MT";
      font-size: 18px;
    }
    .chat--member-wrapper{
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #4a4a4a;
      img{
        margin-right: 11px;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 2px;
      }
    }
  }
}

footer {
  font-size: 18px;
  color: white;
  background: #00b3be;
  font-family: Arial;
  text-align: center;
  padding: 20px 0;
}